<link rel="stylesheet" href="~/css/aSing.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
