<header>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/img/foto_traje.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="main">Julio CPP</span>
                    <span class="sub">Empresario</span>
                </div>
            </div>
            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <div style="margin-left: -35px">
                <ul class="menu-links">
                    <li class="search-bar">
                        <i class="bx bx-search icons"></i>
                        <input type="search" placeholder="Buscar..." />
                    </li>
                     <div style="margin-left: -16px">
                    <li class="nav-link">
                        <a class="link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bx bx-home-alt icons"></i>
                            <span class="text nav-text">Panel</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-bar-chart-alt-2 icons"></i>
                            <span class="text nav-text">Ganancia</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-bell icons"></i>
                            <span class="text nav-text">Notificaciones</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-pie-chart-alt icons"></i>
                            <span class="text nav-text">Analítica</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-heart icons"></i>
                            <span class="text nav-text">Gustos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="link" asp-area="" asp-controller="TiposCuentas" asp-action="Index">
                            <i class="bx bx-wallet-alt icons"></i>
                            <span class="text nav-text">Tablas</span>
                        </a>
                    </li>
                    </div>
                </ul>
                </div>
            </div>

            <div class="bottom-content">
            <div style="margin-left: -18px">
                <li class="nav-link">
                    <a href="#">
                        <i class="bx bx-log-out icons"></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li></div>
                <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icons moon"></i>
                        <i class="bx bx-sun icons sun"></i>
                    </div>
                    <span class="mode-text text">Modo Oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
</header>